@charset "UFT-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: linear-gradient(to right,#5D8A66,#1A6566);
}
main{
    background-color: #ffffff;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-style: solid;
    border-color: #323050;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #43644a7e;
}
h1{
    color: #323050;
    text-align: center;
    text-shadow: 2px 2px #48457298;
}
h2{
    color: #21445B;
}
p{
text-align: justify;
}